@charset "UTF-8";

/* reset css */
* {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}
html,
body {
  height: 100%;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
  display: block;
}
img {
  border: 0;
  vertical-align: top;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

body {
  font-family: "Pretendard", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

/* 텍스트 숨김용 css */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/* top butoon */
.top-btn {
  position: fixed;
  right: 0;
  top: 60%;
  width: 60px;
  height: 57px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 9999;
  opacity: 0;
}
.top-btn > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 화살표 이미지 */
.top-btn > a::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../assets/ico_quick02.png);
  background-size: cover;
}
.top-btn:hover a::before {
  background-image: url(../assets/ico_quick02_on.png);
}
/* 삼각형 */
.top-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -17px; /* 삼각형 크기만큼 조절 */
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 61px solid transparent;
  border-right: 0px solid transparent;
  border-top: 16px solid #eee; /* 아래쪽을 향하는 삼각형 */
}

#smooth-wrapper {
  position: relative; /* 상대 위치 설정 (필요시) */
  z-index: 1; /* 다른 고정 요소들이 위로 오지 않도록 */
}

/* header */
#header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#header .header-inner {
  padding-left: clamp(10px, 10vw, 10em);
  padding-right: clamp(10px, 10vw, 10em);
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
#header .logo {
  width: 11.5%;
  height: auto;
  min-width: 90px;
}
#header .logo img {
  width: 100%;
}
#header .header-right {
  display: flex;
  align-items: center;
  height: 34px;
}
#header .header-right #main-audio {
  margin-right: 25px;
  cursor: pointer;
}
#header #main-audio .sound-icon {
  width: 34px;
  height: 34px;
  background-image: url(../assets/ico_sound_off.png);
  background-size: cover;
}
#header #main-audio.on .sound-icon {
  background-image: url(../assets/ico_sound_on.png);
}

#header .header-right .menu-btn {
  width: 34px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
#header .header-right .menu-btn span {
  width: 100%;
  height: 3px;
  background: #000;
  display: block;
  transition: all 0.5s ease;
  transform: rotate(0);
  transform-origin: center;
}
#header .header-right .menu-btn.active span:first-child {
  transform: translateY(10px) rotate(45deg);
}
#header .header-right .menu-btn.active span:last-child {
  transform: translateY(-9px) rotate(-45deg);
}
#header .header-right .menu-btn.active span:nth-child(2) {
  display: none;
}

/* main-banner */
#main-banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#main-banner > video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#main-banner .scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, -50%);
}
/* main-section */
.main-section {
  width: 100%;
  height: 100vh;
}

.main-section .content {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding-left: clamp(10px, 10vw, 10em);
  padding-right: clamp(10px, 10vw, 10em);
  box-sizing: border-box;
}
.main-section .keyword {
  font-size: 0.9rem;
  color: #666;
}
.main-section .title {
  font-size: 3.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 120%;
  margin-top: 0.1em;
  margin-bottom: 50px;
  white-space: nowrap;
}
.main-section .row-wrap {
  overflow: hidden;
  height: auto;
}
.main-section .more {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}
.main-section .more:hover {
  background: #e4ffc3;
}
#section04 .more:hover {
  background: none;
}
.main-section .more::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-left: 10px;
  background: url(../assets/btn_ico_arr.png) no-repeat center center / cover;
}
.main-section .img-objs {
  position: absolute;
}

/* section01 */
#section01 .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#section01 .txt-wrap {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 15%;
  position: relative;
  z-index: 9999;
}
#section01 .img-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#section01 .img-obj1 {
  width: 32%;
  right: 20%;
  top: 0;
}
#section01 .img-obj2 {
  width: 15%;
  left: 25%;
  top: -10px;
}
#section01 .img-obj3 {
  width: 18%;
  right: 10%;
  top: 0;
}
#section01 .img-obj4 {
  width: 17%;
  right: 7%;
  bottom: 15%;
}
#section01 .img-obj5 {
  width: 10%;
  right: 45%;
  /* left: 44%; */
  bottom: 18%;
}
#section01 .colorLight {
  display: block;
  width: 50%;
  right: -10%;
  height: 130px;
  position: absolute;
  bottom: -20px;
  z-index: -1;
  border-radius: 50%;
  background-image: radial-gradient(
    closest-side at 40% 40%,
    rgb(255, 190, 67),
    rgba(255, 255, 255, 0)
  );
}
#section01 .img-object01 .colorLight {
  width: 65%;
  left: 100px;
  bottom: -5px;
  background-image: radial-gradient(
    closest-side at 50% 45%,
    rgb(255, 190, 67),
    rgba(255, 255, 255, 0)
  );
}
#section01 .img-objs > img,
#section01 .colorLight {
  width: 100%;
  /* 반응형 이미지 */
}

/* section02 */
#section02 {
  position: relative;
}
#section02 .bg-color {
  width: 100%;
  height: 0%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.05) 70%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
#section02 .content {
  display: flex;
  align-items: center;
}
#section02 .content .txt-wrap {
  width: 50%;
}
#section02 .bg-img {
  display: flex;
  justify-content: center;
}
#section02 .more-wrap {
  display: flex;
  justify-content: space-between;
  width: 63%;
  height: auto;
  margin-top: 7rem;
  min-width: 280px;
}
#section02 .more-wrap li {
  text-align: center;
}
#section02 .more-wrap .more {
  width: auto;
  display: block;
}
#section02 .more-wrap .esg img {
  width: 205px;
  height: 100%;
}
#section02 .more-wrap .esg-report img {
  width: 113px;
  height: 100%;
}

#section02 .content .img-wrap {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

#section02 .img-obj1 {
  width: 100%;
}
#section02 .obj2-wrap {
  width: 100%;
  position: absolute;
  left: -30%;
  bottom: 40%;
}
#section02 .img-obj2 {
  width: 50%;
  height: auto;
  max-width: 400px;
}
#section02 .img-obj3 {
  width: 25%;
  left: 0;
  top: 18%;
  min-width: 100px;
  min-height: 90px;
}
#section02 .img-obj4 {
  width: 33%;
  right: 0;
  bottom: 18%;
}
#section02 .img-obj5 {
  width: 17%;
  right: 0;
  top: 30%;
  min-width: 97px;
  min-height: 100px;
}
#section02 .bg-color {
  height: 100%;
}
#section02 .img-obj6 {
  width: 60%;
  right: 33%;
  top: -70%;
}
#section02 .img-objs > img {
  width: 100%;
}

/* section03 */
#section03 {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
#section03 .content {
  height: 95%;
}
.swiperSec3 {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiperSec3 .swiper-pagination {
  width: auto;
  height: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
}
.swiperSec3 .swiper-wrapper {
  width: 100%;
  order: 1;
}
.swiperSec3 .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 기본 점 (bullet) 스타일 */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: gray;
  opacity: 0.5;
  margin: 0 5px;
  border-radius: 50%;
  transition: all 0.3s;
}
/* 현재 선택된 점 (활성화된 bullet) */
.swiper-pagination-bullet-active {
  background-color: #000;
  opacity: 1;
}

#section03 .img-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
#section03 .txt-wrap {
  width: 50%;
  font-size: 1rem;
}
#section03 .img-wrap .cube-img {
  width: 85%;
}
#section03 .img-wrap .img-obj1 {
  width: 100%;
}
#section03 .img-wrap .spring-img {
  width: 30%;
  position: absolute;
  right: 17%;
  bottom: 0;
}
#section03 .img-wrap .img-obj2 {
  width: 100%;
}
#section03 .txt-wrap .keyword {
  font-size: 2em;
  font-weight: 600;
  color: #000;
}
#section03 .txt-wrap .tit-wrap {
  width: 100%;
  overflow: hidden;
}
#section03 .txt-wrap .title {
  font-size: 6.4em;
  font-weight: 800;
  margin: 0;
}
#section03 .txt-wrap .desc {
  margin-top: 5px;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 130%;
}
#section03 .more-wrap {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
}
#section03 .more-wrap a {
  font-size: 1em;
}

#section03 .h-product .more {
  margin-top: -10px;
  margin-left: 20px;
}
#section03 .h-product .more::after {
  width: 15px;
  height: 15px;
  background: url(../assets/ico_target02.png) no-repeat center top;
  background-size: cover;
}

/* section04 */
#section04 {
  position: relative;
  overflow: hidden;
}
#section04 .bgImg-wrap {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  clip-path: circle(30% at 50% 50%);
}
#section04 .bgImg-wrap .bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: scaleAni 13s ease infinite;
}
#section04 .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}
#section04 .img-wrap {
  display: flex;
  flex-direction: column;
  width: 45%;
}
#section04 .objs-70 {
  display: flex;
  justify-content: right;
  margin-bottom: 50px;
}
#section04 .obj-7 {
  width: 43%;
}
#section04 .obj-0 {
  width: 48%;
  margin: 8% 0 0 -8%;
}
#section04 .img-area-more {
  display: none;
  text-align: right;
}
#section04 .img-wrap img {
  width: 100%;
}
#section04 .txt-wrap {
  width: 52%;
}
#section04 .keyword,
#section04 .title,
#section04 .more {
  color: #fff;
}
#section04 .more::after {
  background: url(../assets/ico_arr_wh.png) no-repeat center center / 20px;
}

#section04 .circle-objs > span {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: overlay;
  /* 블렌딩 모드: 현재 요소와 배경을 섞는 방식  */
}
#section04 .circle-obj1 {
  left: 10%;
  top: 5%;
  width: 180px;
  height: 180px;
}
#section04 .circle-obj2 {
  left: 5%;
  bottom: -5%;
  width: 450px;
  height: 450px;
}
#section04 .circle-obj3 {
  right: 15%;
  top: 38%;
  width: 270px;
  height: 270px;
}

/* section05 */
#section05 {
  background: #f6f3f2;
}
#section05 .content {
  height: auto;
}
#section05 .txt-wrap {
  padding-top: 10%;
  padding-bottom: 1%;
}
#section05 .swiper-wrapper {
  transition-timing-function: linear !important;
}
#section05 .swiper-slide {
  width: 250px !important;
  height: 340px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
#section05 .swiper-slide > img {
  width: 100%;
  height: 100%;
}
#section05 .slide3,
#section05 .slide7 {
  cursor: default;
}
#section05 .slide5 {
  background: #0073fa;
}
#section05 .swiper-slide .tit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  padding: 15px 0;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}
#section05 .swiper-slide .tit > span {
  width: 75%;
  margin: 0 auto;
  height: 40px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
}
#section05 .slide1 .tit {
  margin-top: 40px;
  align-items: center;
}
#section05 .slide1-br {
  display: none;
}
#section05 .slide1 .tit > span {
  justify-content: center;
}
#section05 .slide4 .tit,
#section05 .slide5 .tit {
  align-items: end;
}
#section05 .slide4 .tit {
  color: #000;
}
#section05 .slide-circle {
  border-radius: 190px;
}
#section05 .slide-round {
  border-radius: 40px;
}

/* 바로가기 아이콘 */
#section05 .swiper-slide .tit::before {
  content: "";
  display: block;
  position: absolute;
  right: 11%;
  width: 40px;
  height: 40px;
}
#section05 .slide1 .tit::before {
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  background: url(../assets/btn_play.png) center center / contain no-repeat;
}
#section05 .slide2 .tit::before {
  background: url(../assets/btn_arr_white.png) center center / contain no-repeat;
}
#section05 .slide4 .tit::before {
  background: url(../assets/btn_arr_black.png) center center / contain no-repeat;
}
#section05 .slide5 .tit::before {
  background: url(../assets/btn_arr_blue.png) center center / contain no-repeat;
}
#section05 .slide6 .tit::before {
  background: url(../assets/btn_arr_black.png) center center / contain no-repeat;
}

/* footer */
#footer {
  width: 100%;
  height: 600px;
  background: #232323;
  color: #ccc;
}
#footer .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-left: clamp(10px, 15vw, 20em);
  padding-right: clamp(10px, 15vw, 20em);
  box-sizing: border-box;
  margin: 0 auto;
}
#footer .left-area {
  width: 30%;
}
#footer .right-area {
  width: 70%;
}
#footer .fnb {
  width: 90%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#footer .fnb .tit {
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
}
#footer .fnb .util-menu {
  display: none;
}
#footer .fnb .sub {
  font-size: 1rem;
  font-weight: 300;
  color: #ccc;
  margin-top: 35px;
  margin-bottom: 80px;
}
#footer .fnb .sub .brand {
  font-weight: 800;
}
#footer .fnb .sub > li {
  margin-bottom: 9px;
}

#footer .bt-area {
  font-size: 0.8rem;
  color: #777;
}
#footer .bt-area .info {
  display: flex;
  height: 12px;
}
#footer .bt-area .info > li {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
#footer .bt-area .info > li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #444;
  position: absolute;
  right: -10px;
  top: 1px;
}
#footer .bt-area .info > li:last-child:after {
  content: none;
}
#footer .fnb .sub > li:hover,
#footer .bt-area .info > li:hover {
  color: #fff;
}
#footer address {
  font-style: normal;
  line-height: 150%;
  margin-top: 8px;
  margin-bottom: 12px;
  user-select: text;
}
#footer .copyright {
  font-size: 0.75rem;
  letter-spacing: -1px;
  color: #999;
  user-select: text;
}
#footer .copyright span {
  color: #0073fa;
}

/* animation */

@keyframes scaleAni {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
